
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible",content="ie=edge")
    title= title
    link(rel='stylesheet', href='/css/bootstrap-reboot.min.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
  body
    nav.navbar.navbar-extend-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href="/") Questionário
        button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent",aria-controls="navbarSupportedContent",aria-expanded="false",aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href="/dashboard") Dashboard
            li.nav-item
              a.nav-link(href="/about") Sobre
    
    block content

    script(src="/js/jquery-1.12.4.min.js")
    script(src="/js/knockout-3.5.0.js")
    script(src="/js/bootstrap.min.js")
    block scripts
    script(src="/js/scripts.js")
