extends layout
block content
  .card
    .card-header Login de professor
    .card-body
      form
        .form-group
          label(for="email") E-mail
          input#email(type="email",class="form-control",placeholder="E-mail")
          small.form-text#emailError
        .form-group
          label(for="senha") Senha
          input#senha(type="password",class="form-control",placeholder="Senha")
          small.form-text#senhaError
        a.btn.btn-primary.btn-lg.btn-block(data-bind="click: enter") Entrar
      br
      a(href="/teacher/forget") Esqueci minha senha
    .card-footer
      a(href="/teacher/register") Quero me cadastrar como professor
block scripts
  script
    | function ViewModel() {
    |   var vm = this;
    |   
    |   
    |   
    |   
    | }